<h1 mat-dialog-title>{{dialogTitle}}</h1>
<div mat-dialog-content>
  <p>Enter the Race Progress</p>
  <div>
    <mat-form-field>
      <mat-label>Time Marker</mat-label>
      <input matInput [(ngModel)]="currentRaceProgress.timeMarker" type="number" placeholder="Time" (focus)="onTimeMarkerFocus($event)" required>
    </mat-form-field>
      <mat-form-field>
        <mat-label>First Place</mat-label>
        <mat-select name="horseNumber" [(ngModel)]="currentRaceProgress.firstPlace" required>
          <mat-option *ngFor="let number of horseNumberList" [value]="number">
            {{number}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Second Place</mat-label>
        <mat-select name="horseNumber" [(ngModel)]="currentRaceProgress.secondPlace" required>
          <mat-option *ngFor="let number of horseNumberList" [value]="number">
            {{number}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Third Place</mat-label>
        <mat-select name="horseNumber" [(ngModel)]="currentRaceProgress.thirdPlace" required>
          <mat-option *ngFor="let number of horseNumberList" [value]="number">
            {{number}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
    <button mat-button mat-icon-button="primary" (click)="onAddTimerMarkerClick()" ><mat-icon aria-hidden="false" aria-label="New" color="primary" matTooltip="Add Time Maker">add_circle</mat-icon></button>
  </div>

  <table mat-table [dataSource]="raceProgress" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="timeMarker">
      <th mat-header-cell *matHeaderCellDef> Time Marker. </th>
      <td mat-cell *matCellDef="let element"> {{element.timeMarker}} </td>
    </ng-container>
    <ng-container matColumnDef="firstPlace">
      <th mat-header-cell *matHeaderCellDef> First Place. </th>
      <td mat-cell *matCellDef="let element"> {{element.firstPlace}} </td>
    </ng-container>
    <ng-container matColumnDef="secondPlace">
      <th mat-header-cell *matHeaderCellDef> Second Place. </th>
      <td mat-cell *matCellDef="let element"> {{element.secondPlace}} </td>
    </ng-container>
    <ng-container matColumnDef="thirdPlace">
      <th mat-header-cell *matHeaderCellDef> Third Place. </th>
      <td mat-cell *matCellDef="let element"> {{element.thirdPlace}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions. </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button mat-icon-button color="primary" (click)="onDeleteClick(element.id)"><mat-icon aria-hidden="false" aria-label="Delete" matTooltip="Delete Horse">delete_forever</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Close</button>
</div>
