<mat-horizontal-stepper #stepper linear>
  <mat-step label="Betting" state="betting">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4 ">
          <mat-accordion>
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Race Information
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field>
                <mat-label>Select a Race</mat-label>
                <mat-select name="race" [(value)]="selectedEventRaceId" (selectionChange)="onRaceSelectionChange($event)" [disabled]="raceInstance.getTotalCollected > 0 && !raceInstance.allowToStartNewRace">
                  <mat-option *ngFor="let race of races" [value]="race.eventRaceId" [style.background-color]="race.saved ? '#ff4081' : '#ffffff'">
                    {{race.raceName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="row" [hidden]="raceInstance.saved">
                <div class="col-4">
                  <mat-form-field>
                    <input type="number" matInput [(ngModel)]="raceInstance.betAmount" placeholder="Bet Amount" [disabled]="raceInstance.getTotalCollected > 0" (focus)="utilityService.highlightNumber($event)">
                    <span matPrefix>$&nbsp;</span>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-checkbox color="accent" [(ngModel)]="raceInstance.allowSecondGuest" matTooltip="The game can only split winnings in whole dollars. An even bet amount is recommended, or manually assign the extra dollar is there is a leftover one.">Allow Second Bet (Even bet preffered)</mat-checkbox>
                  <div><button mat-raised-button color="warn" (click)="onReset()">Reset Race</button></div>
                </div>
                <div class="col-2">
                  <button mat-button mat-icon-button (click)="onAddRaceToRoster()" class="pull-right"><mat-icon aria-hidden="false" aria-label="New" color="accent" matTooltip="Add Races to Event">add_circle</mat-icon></button>
                </div>
              </div>
              <div class="row" [hidden]="!raceInstance.saved">
                <button mat-button mat-icon-button (click)="onAddRaceToRoster()" class="pull-right"><mat-icon aria-hidden="false" aria-label="New" color="accent" matTooltip="Add Races to Event">add_circle</mat-icon></button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <br />
          <mat-accordion [hidden]="!raceInstance.allowGuestSelection">
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Guest Information
                </mat-panel-title>
              </mat-expansion-panel-header>           
              <guest-selection-component [(selectedGuestId)]="selectedGuestId" [size]="'Large'"></guest-selection-component>
              <br />
              <button mat-raised-button color="primary" (click)="onSelectHorse()" [disabled]="selectedGuestId == 0 || !raceInstance.allowHorseSelection">Select a Horse</button>
              <button mat-button mat-icon-button (click)="onActivateGuests()" class="pull-right"><mat-icon aria-hidden="false" aria-label="New" color="accent" matTooltip="Quick Active Guest">playlist_add_check</mat-icon></button>
              <button mat-button mat-icon-button (click)="onNewGuests()" class="pull-right"><mat-icon aria-hidden="false" aria-label="New" color="accent" matTooltip="Create a new Guest">add_circle</mat-icon></button>
            </mat-expansion-panel>
          </mat-accordion>
          <br />
          <mat-accordion [hidden]="raceInstance.raceWasLoadedFromDB">
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h4>Bet Amount: $&nbsp;{{raceInstance.betAmount}}.00</h4>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-12">
                  <h6>Collected Amount: <span>$&nbsp;{{raceInstance.getTotalCollected}}.00</span></h6>
                </div>
              </div>
              <mat-divider></mat-divider>
              <br />
              <div class="row">
                <div class="col-4">
                  <div>
                    <place-component [place]="'1'" [width]="'44px'"></place-component>
                  </div>
                 
                </div>
                <div class="col-4">
                  <div>
                    <place-component [place]="'2'" [width]="'40px'"></place-component>
                  </div>
                </div>
                <div class="col-4">
                  <div>
                    <place-component [place]="'3'" [width]="'36px'"></place-component>
                  </div>
                 
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <h6><span>$&nbsp;{{raceInstance.firstPlaceAmount}}.00</span></h6>
                </div>
                <div class="col-4">
                  <h6><span>$&nbsp;{{raceInstance.secondPlaceAmount}}.00</span></h6>
                </div>
                <div class="col-4">
                  <h6><span>$&nbsp;{{raceInstance.thirdPlaceAmount}}.00</span></h6>
                </div>
              </div>
              <button mat-raised-button color="primary" (click)="onLockRace()" [disabled]="raceInstance.allowHorseSelection" [hidden]="raceInstance.eventRaceId == 0 || raceInstance.saved == true">Lock Race</button>
            </mat-expansion-panel>
          </mat-accordion>        
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-2" *ngFor="let horse of raceInstance.eventRaceGuests" style="padding: 3px;">
              <mat-card [style.opacity]="raceInstance.raceWasLoadedFromDB && horse.wonAmount == 0 ? 0.2 : 1" [style.background-color]="horse.guest1Id == 7003 ? '#343a40' : '#3f51b5'" style="margin-left:-3px;">
                <mat-card-header>
                  <mat-card-title style="color:white; font-size: 23px;">{{horse.assignedHorseNumber}}&nbsp;&nbsp;</mat-card-title>
                  <div mat-card-avatar class="raceCard-header-image"></div>
                </mat-card-header>
                <mat-card-content>
                  <div *ngIf="horse.guest1Id > 0">
                    <mat-chip-list aria-label="Guests">
                      <mat-chip color="accent" selected>
                        <guest-component [avatarName]="horse.guest1Avatar" [guestName]="horse.guest1Name"></guest-component>
                        <mat-icon matChipRemove (click)="onRemoveGuest(1, horse.guest1Id)" [hidden]="raceInstance.saved || horse.guest1Id == 7003">cancel</mat-icon><!--7003 Withdrawn-->
                      </mat-chip>
                    </mat-chip-list>
                  </div>
                  <div *ngIf="horse.guest2Id > 0 && horse.guest1Id != 7003"><!--7003 Withdrawn-->
                    <mat-chip-list aria-label="Guests">
                      <mat-chip color="accent" selected>
                        <guest-component [avatarName]="horse.guest2Avatar" [guestName]="horse.guest2Name"></guest-component>
                        <mat-icon matChipRemove (click)="onRemoveGuest(2, horse.guest2Id)" [hidden]="raceInstance.saved">cancel</mat-icon>
                      </mat-chip>
                    </mat-chip-list>
                  </div>
                </mat-card-content>
                <mat-card-footer [hidden]="horse.wonAmount == 0 || !raceInstance.saved || horse.placeId <= 0" [ngClass]="{'raceWinner1': horse.placeId == 1, 'raceWinner2': horse.placeId == 2, 'raceWinner3': horse.placeId == 3}">
                  <mat-icon aria-hidden="false" aria-label="Horse" class="pull-right" [hidden]="horse.placeId <= 0">work</mat-icon>
                  <span>&nbsp;&nbsp;{{horse.wonAmount | currency}}</span>
                </mat-card-footer>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-step>
  <mat-step label="Race" state="race">
    <div class="container-fluid">
      <div class="row" [hidden]="showingRoster">
        <div class="col-3" >
          <race-progress-component [raceInstance]="raceInstance"></race-progress-component>         
        </div>
        <div class="col-9">
          <video width="1124" height="633" controls="controls" preload="auto" #video (ended)="onVideoEnded()" (timeupdate)="onTimeUpdate()">
            <source type="video/mp4" />
          </video>
          <br />
          <button mat-raised-button color="primary" (click)="onShowRoster()">Show Roster</button>
        </div>
      </div>
      <div class="row" [hidden]="!showingRoster">
        <pre-race-roster-component [raceInstance]="raceInstance" (done)="onPreRosterDisplayDone()"></pre-race-roster-component>
      </div>
    </div>
  </mat-step>
  <!-- Icon overrides. -->
            <ng-template matStepperIcon="betting">
              <mat-icon>attach_money</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="race">
              <mat-icon>timer</mat-icon>
            </ng-template>
</mat-horizontal-stepper>

