/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';
/* Provide sufficient contrast against white background */
body {
  background-color: #e7e7e8;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.pull-right {
  float: right;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav, mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  width: 200px;
  background-color: aqua;
}

.mat-card-content > :first-child, .mat-card > :first-child {
  margin-left: -4px;
}
  .container {
height:100%;
}

.raceCard-header-image {
  background-image: url('/Content/horseHeadT.png');
  background-size: cover;
}

.aligned-with-icon {
  position: relative;
  top: -7px;
  margin-left: 5px; /* optional */
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.raceWinner1 {
  background-color: #ff4081;
  color: white
  /*font-size: 60px;*/
  /*z-index: 10;*/
}

.raceWinner2 {
  background-color: #f44336;
  color: white
  /*font-size: 50px;*/
  /*z-index: 10;*/
}

.raceWinner3 {
  background-color: #797a80;
  color: white
  /*font-size:40px;*/
  /*z-index: 10;*/
}

td, th {
  /*border: 1px solid #ddd;*/
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  /*background-color: #3f51b5;
  color: white;*/
}
