
<mat-card style="background-color: #3f51b5; margin-bottom: 3px;"> <!--First Place-->
  <mat-card-header>
    <div mat-card-avatar ><place-component [place]="1" [width]="'60px'"></place-component>&nbsp;&nbsp;</div>
    <div class="container-fluid">
      <div class="row " style="color:white;">
        <div class="col-8" style="padding-top:11px;">
          <h4>1st. Place</h4>
        </div>
        <div class="col-4">
          <h1 class="pull-right">${{this.raceInstance.firstPlaceAmount}}.00</h1>
        </div>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content *ngFor="let horse of raceInstance.eventRaceGuests | callBack: filterIsProtagonist">
    <race-progress-chip-list-component [horse]="horse" [place]="1"></race-progress-chip-list-component>
  </mat-card-content>
</mat-card>

<mat-card  style="background-color: #3f51b5d6; margin-bottom: 3px;">
  <!--Second Place-->
  <mat-card-header>
    <div mat-card-avatar><place-component [place]="2" [width]="'60px'"></place-component>&nbsp;&nbsp;</div>
    <div class="container-fluid">
      <div class="row " style="color:white;">
        <div class="col-8" style="padding-top:11px;">
          <h4>2nd. Place</h4>
        </div>
        <div class="col-4">
          <h1 class="pull-right">${{this.raceInstance.secondPlaceAmount}}.00</h1>
        </div>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content *ngFor="let horse of this.raceInstance.eventRaceGuests | callBack: filterIsProtagonist">
    <race-progress-chip-list-component [horse]="horse" [place]="2"></race-progress-chip-list-component>
  </mat-card-content>
</mat-card>

<mat-card  style="background-color: #3f51b59e; margin-bottom: 3px;">
  <!--Third Place-->
  <mat-card-header>
    <div mat-card-avatar><place-component [place]="3" [width]="'60px'"></place-component>&nbsp;&nbsp;</div>
    <div class="container-fluid">
      <div class="row " style="color:white;">
        <div class="col-8" style="padding-top:11px;">
          <h4>3rd. Place</h4>
        </div>
        <div class="col-4">
          <h1 class="pull-right">${{this.raceInstance.thirdPlaceAmount}}.00</h1>
        </div>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content *ngFor="let horse of raceInstance.eventRaceGuests | callBack: filterIsProtagonist">
    <race-progress-chip-list-component [horse]="horse" [place]="3"></race-progress-chip-list-component>
  </mat-card-content>
</mat-card>
