<span style="font-size:12px;">
  <b style="font-size:18px;">{{horse.assignedHorseNumber  | number:'2.0'}}</b>&nbsp;
  <img *ngIf="horse.placeId < 1" src="/Content/Horse.jpg" style="width:40px;height:30px;border-radius:50%; object-fit:cover;" /> &nbsp;
  <place-component *ngIf="horse.placeId >= 1" [place]="'horse.placeId'" [width]="'50px'"></place-component> &nbsp;
  <img src="/Avatars/{{horse.guest1Avatar}}" style="width:50px;height:50px;border-radius:50%; object-fit:cover;" />
  <img *ngIf="horse.guest2Name && horse.guest1Id != 7003" src="/Avatars/{{horse.guest2Avatar}}" style="width:50px;height:50px;border-radius:50%; object-fit:cover;" />
  &nbsp;{{horse.guest1Name}}<span *ngIf="horse.guest2Name && horse.guest1Id != 7003">&nbsp;and&nbsp;{{horse.guest2Name}}</span>
</span>
