<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container-fluid">
      <img src="Content/horseHead.png" style="max-height:35px;" (click)="onLogoClick()" />&nbsp;&nbsp;
      <a class="navbar-brand" [routerLink]="['/']">Derby Game</a>&nbsp;&nbsp;
      <button mat-button mat-icon-button [routerLink]="['/eventTotals', eventId]" style="margin-top:-10px;"><mat-icon aria-hidden="false" aria-label="Total" color="accent" matTooltip="Event running total">work</mat-icon></button>
      <h4 class="navbar-brand" style="margin-left: 10px;">{{eventName}}</h4>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <img src="Content/Chips.svg" style="height:42px;" />
          </li>
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/eventList']">Events</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/guestList']">Guests</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/raceList']">Races</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
