<h1>Guests</h1>
<div class="pull-right">
  <button mat-button mat-icon-button (click)="onResetAllClick()"><mat-icon aria-hidden="false" aria-label="Reset" color="accent" matTooltip="Reset all gets to not active in preparation for a new event.">local_hotel</mat-icon></button>
  <button mat-button mat-icon-button (click)="onEditClick(0)"><mat-icon aria-hidden="false" aria-label="New" color="primary" matTooltip="Create a new Guest">add_circle</mat-icon></button>
</div>
<mat-form-field>
  <input matInput [(ngModel)]="filter" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="datasource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="avatar">
    <th mat-header-cell *matHeaderCellDef> Avatar. </th>
    <td mat-cell *matCellDef="let element">
      <img *ngIf="element.avatarName"  src="/Avatars/{{element.avatarName}}" style="width:30px;height:30px;border-radius:50%; object-fit:cover;" />
      <img *ngIf="!element.avatarName" src="/Avatars/person.png" style="width:30px;height:30px;border-radius:50%; object-fit:cover;" />
    </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name. </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="isActive">
    <th mat-header-cell *matHeaderCellDef> Active? </th>
    <td mat-cell *matCellDef="let element">
      <button *ngIf="element.isActive" mat-button mat-icon-button (click)="onIsActiveClick(element.id, false);"><mat-icon aria-hidden="false" aria-label="Active" color="accent" matTooltip="Guest is Active">check_box</mat-icon></button>
      <button *ngIf="!element.isActive" mat-button mat-icon-button (click)="onIsActiveClick(element.id, true)"><mat-icon aria-hidden="false" aria-label="NotActive" matTooltip="Guest is not Active">indeterminate_check_box</mat-icon></button>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Edit\Delete. </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button mat-icon-button="primary" (click)="onEditClick(element.id)"><mat-icon aria-hidden="false" aria-label="Edit" color="primary" matTooltip="Edit Guest Info">edit</mat-icon></button>
      <button  *ngIf="element.canDelete" mat-button mat-icon-button color="primary" (click)="onDeleteClick(element.id)"><mat-icon aria-hidden="false" aria-label="Delete" matTooltip="Delete Guest">delete_forever</mat-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

